.card {
  &__title {
    margin: -10px 0 26px 3px;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    width: 285px;
    margin: 0 0 37px 0;
    padding: 0 0 0 10px;

    list-style: none;
  }

  &__item {
    position: relative;
    padding: 40px 0 0 0;
  }

  &__icon {
    position: absolute;
    content: "";
    top: 0;

    &--fuel {
      left: 2px;

      width: 53px;
      height: 40px;

      background-image: url("../img/icon_type-engine.svg");
    }

    &--gear-box {
      left: 18px;

      width: 40px;
      height: 40px;

      background-image: url("../img/icon_gear-box.svg");
    }

    &--power-ps {
      left: 9px;

      width: 40px;
      height: 40px;

      background-image: url("../img/icon_power-ps.svg");
    }

    &--engine-disp {
      left: 0;

      width: 40px;
      height: 40px;

      background-image: url("../img/icon_engine-disp.svg");
    }
  }


  &__description {
    margin: 0;

    color: rgba(72, 73, 77, 0.5);
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
  }

  &__order {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
}

@media (max-width: 1023px) {
  .card {
    &__order {
      flex-direction: row;
    }

    &__title {
      margin: 0 0 20px 0;
    }

    &__list {
      width: 305px;
      margin: 0 0 30px 0;
      padding: 0 0 0 8px;
    }

    &__price {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .card {
    &__list {
      width: 100%;
      max-width: 315px;
      padding: 0;
    }

    &__item {
      padding: 40px 0 0 5px;
    }

    &__icon {
      &--fuel {
        left: 8px;
      }

      &--gear-box {
        left: 21px;
      }

      // &--power-ps {
      //   left: 9px;

      //   width: 40px;
      //   height: 40px;

      //   background-image: url("../img/icon_power-ps.svg");
      // }

      // &--engine-disp {
      //   left: 0;

      //   width: 40px;
      //   height: 40px;

      //   background-image: url("../img/icon_engine-disp.svg");
      // }
    }

    &__price {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 32px;
    }

    &__order {
      flex-wrap: wrap;
      // flex-direction: column;
    }
  }
}
