.contacts {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 780px;
  padding-top: 20px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item a[href] {
    &:hover {
      color: #d12136;
    }

    &:active {
      color: #48494d;
      opacity: 0.3;
    }
  }

  & h3 {
    margin: 0 0 5px 0;
    color: #1a212f;
  }

  & p,
  & a {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }

  &__map {
    width: 431px;
    height: 271px;
  }

  &__map img {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: -1;
  }
}

@media (max-width: 1023px) {
  .contacts {
    width: 100%;
    padding-top: 0;

    &__map img {
      top: 0;
    }
  }
}

@media (max-width: 767px) {
}
