.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 14px 7px 10px 5px;

  // &__logo {
  // }
  // &__list {
  // }
}

@media (max-width: 1023px) {
  .main-nav {
    min-height: 75px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  // .main-nav {
  // }
}
