.option {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // &__item {
  // }

  &__item p {
    margin: 0;
  }

  // &__description {
  // }

  // &__icon {
  //   &--engine-disp {
  //   }

  //   &--fuel {
  //   }

  //   &--gear-box {
  //   }

  //   &--power-ps {
  //   }
  // }
}
