.order {
  &__request {
    box-sizing: border-box;
    width: 230px;
    margin-right: auto;
    margin-bottom: 17px;

    color: #ffffff;

    background-color: #d12136;

    &:hover {
      background-color: #bd0c21;
    }

    &:active {
      color: #dadbdd;
      background-color: #bd0c21;
    }
  }


  &__credit {
    box-sizing: border-box;
    width: 230px;
    margin-right: auto;
    max-height: 51px;

    color: #d12136;

    border: 1px solid #d12136;

    &:hover {
      color: #ffffff;

      background-color: #d12136;
    }

    &:active {
      color: #dadbdd;
      background-color: #bd0c21;
    }
  }
}

@media (max-width: 1023px) {
  .order {
    &__request {
      width: 33.3%;
      margin-right: 0;
      margin-bottom: 0;
    }

    &__credit {
      width: 33.3%;
    }
  }
}

@media (max-width: 710px) {
  .order {
    &__request {
      width: 230px;
    }

    &__credit {
      width: 230px;
    }
  }
}
