.page-footer {
  background-color: #f5f5f9;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__item a {
    margin-right: 72px;
    color: #48494d;
  }

  &__item a:nth-child(7n) {
    margin-right: 0;
    color: #48494d;
  }

  &__item a[href] {
    &:hover {
      color: #d12136;
    }

    &:active {
      color: #48494d;
      opacity: 0.3;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    min-height: 82px;
    padding: 0 0 0 8px;
  }
}

@media (max-width: 1023px) {
  .page-footer {
    &__wrapper {
      align-items: flex-start;
      min-height: 166px;
      padding: 30px 0;
    }

    &__item {
      justify-content: flex-start;
    }

    &__item a {
      width: 218px;
      margin-right: 119px;
    }

    &__item a:nth-child(1n+1) {
      width: 142px;
    }

    &__item a:nth-child(3n) {
      margin-right: 0;
      width: 100px;
    }
  }
}

@media (max-width: 767px) {
  // .main-nav {
  // }
}
