.page-footer {
  background-color: #f5f5f9;
  padding: 0 20px;

  &__list {
    margin: 0;
    padding: 30px 0 10px 0;
    list-style: none;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item a {
    margin-bottom: 20px;
    color: #48494d;
  }

  &__item a:nth-child(7n) {
    margin-right: 0;
    color: #48494d;
  }

  &__item a[href] {
    &:hover {
      color: #d12136;
    }

    &:active {
      color: #48494d;
      opacity: 0.3;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    min-height: 82px;
    padding: 0 0 0 8px;
  }
}

@media (max-width: 1023px) {
  .page-footer {
    &__wrapper {
      align-items: flex-start;
      min-height: 166px;
      padding: 30px 0;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      justify-content: space-between;
    }

    &__item a {
      width: auto;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__item a:last-child {
      margin-bottom: 0;
    }

    &__item a:nth-child(3n+1) {
      margin-right: 120px;
      width: 218px;
    }

    &__item a:nth-child(3n+2) {
      margin-right: 120px;
      width: 141px;
    }

    &__item a:nth-child(3n) {
      margin-right: 0;
      width: 101px;
    }
  }
}

@media (max-width: 767px) {
  .page-footer {
    &__wrapper {
      padding: 25px 0;
    }

    &__item {
      justify-content: center;
    }

    &__item a {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;

      text-align: center;
    }

    &__item a:last-child {
      margin-bottom: 0;
    }

    &__item a:nth-child(3n+1) {
      margin-right: 0;
      width: 100%;
    }

    &__item a:nth-child(3n+2) {
      margin-right: 0;
      width: 100%;
    }

    &__item a:nth-child(3n) {
      margin-right: 0;
      width: 100%;
    }
  }
}
