.rating {
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-top: 10px;
  }

  &__list {
    display: flex;
    margin: 0;

    padding: 0;
    list-style: none;
  }

  &__item {
    width: 17px;
    height: 16px;

    margin-right: 4px;

    fill: #bdbec2;
    fill-opacity: 0.7;

    &--modal {
      width: 27px;
      height: 27px;
      margin-left: 4px;

      fill: #bdbec2;
      fill-opacity: 0.7;
      background-size: 27px 27px;
      cursor: pointer;
    }

    &--selected {
      fill: #d12136;
      fill-opacity: 1;
    }
  }
}

.rating p {
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

@media (max-width: 699px) {
  .rating {
    &__wrapper {
      flex-direction: column;
      justify-content: center;

      padding-top: 0;
    }

    & p {
      margin-bottom: 10px;
    }
  }
}
