.slider {
  user-select: none;

  &__wrapper {
    margin-bottom: 39px;
  }

  &__wrapper img {
    width: 600px;
    height: 375px;

    background-color: #48494d;
  }

  &__slide {
    display: block;

    &--hidden {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    min-width: 600px;
    max-width: 600px;
  }

  &__button {
    display: flex;
    width: 52px;
    height: 52px;

    stroke: #48494d;
    fill: #ffffff;

    cursor: pointer;

    &--disabled {
      stroke: #d7d9df;

      pointer-events: none;

      &:focus {
        outline: none;
      }
    }

    &:hover {
      stroke: #ffffff;
      fill: #d12136;
    }

    &:active {
      stroke: #dadbdd;
      fill: #bd0c21;
    }
  }

  &__button svg {
    z-index: -1;
  }

  &__list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
    margin-right: 25px;
    width: 128px;
    height: 80px;

    opacity: 0.5;
    background-color: #48494d;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.5;
    }

    &--current {
      opacity: 1;
    }
  }


  &__item img {
    z-index: -1;
    display: block;
  }
}

@media (max-width: 1023px) {
  .slider {
    margin-bottom: 20px;

    &__slide {
      display: block;

      &--hidden {
        display: none;
      }
    }

    &__wrapper img {
      width: 100%;
      height: 100%;
    }

    &__navigation {
      padding: 0 63px;

      min-width: 728px;
      max-width: 728px;
    }
  }
}

@media (max-width: 767px) {
  .slider {
    margin-bottom: 24px;

    &__navigation {
      display: none;
    }

    &__wrapper {
      margin-bottom: 0;
    }
  }
}
