.slider {
  user-select: none;

  &__wrapper {
    margin-bottom: 39px;
  }

  &__slide {
    display: block;
    width: 600px;
    height: 375px;

    background-color: #48494d;

    &--hidden {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    width: 52px;
    height: 52px;

    stroke: #48494d;
    fill: #ffffff;

    cursor: pointer;

    &--disabled {
      stroke: #d7d9df;

      pointer-events: none;

      &:focus {
        outline: none;
      }
    }

    &:hover {
      stroke: #ffffff;
      fill: #d12136;
    }

    &:active {
      stroke: #dadbdd;
      fill: #bd0c21;
    }
  }

  &__button svg {
    z-index: -1;
  }

  &__list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
    margin-right: 25px;
    width: 128px;
    height: 80px;

    opacity: 0.5;
    background-color: #48494d;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.5;
    }

    &--current {
      opacity: 1;
    }
  }


  &__item img {
    z-index: -1;
    display: block;
  }
}
