.tabs {
  &__list {
    display: flex;

    margin-top: 0;
    margin-bottom: 10px;

    align-items: center;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: 200px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    height: 50px;

    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #48494d;

    border: 1px solid #d7d9df;
    cursor: pointer;

    &--active {
      color: #ffffff;

      background-color: #d12136;
      border: 1px solid #d12136;

      pointer-events: none;
    }

    &:hover {
      color: #ffffff;

      background-color: #d12136;
      border: 1px solid #d12136;
    }

    &:active {
      color: #dadbdd;
      background-color: #bd0c21;
    }
  }

  &__element {
    &--hidden {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  .tabs {
    &__list {
      margin-bottom: 29px;
    }
  }
}


@media (max-width: 604px) {
  .tabs {
    padding-top: 72px;

    &__list {
      position: absolute;
      top: 0;
      z-index: 1;
    }

    &__item {
      min-width: 195px;
    }
  }
}
